@font-face { 
	font-family: 'perfectdos'; 
	src: url('fonts/perfectdos/Perfect_DOS_VGA_437.ttf'); 
}

@font-face { 
	font-family: 'NAMU'; 
	src: url('fonts/NAMU/NAMU.ttf'); 
}

@font-face {
	font-family: 'minecraft'; 
	src: url('fonts/minecraft/Minecraft.ttf'); 
}

html, body {
    height: 100%;
}

html {
	display: table;
    	margin: auto;
}
body {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #3e4637;
	font-family: "Trebuchet MS", "Verdana", sans-serif;
	color: #d8ded3;
	font-size: 14px;
	image-rendering: pixelated;
	vertical-align: middle;
	display: table-cell;
  }
div {
	background-color: #4c5844; /* ControlBG */
	border-bottom: solid 1px #292d23; /* BorderDark */
	border-left: solid 1px #889180; /* TitleDimText */
	border-right: solid 1px #292d23; /* BorderDark */
	border-top: solid 1px #889180; /* TitleDimText */
	padding: 10px;
}
h1 {
	text-align: center;
	font-size: 4.5em;
	font-family: perfectdos;
	font-weight: normal;
	color: #cfd5da;
	margin-top: 20px;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: verdana;
	font-weight: normal;
	color: #aeb9c1;
}
a {
	color: #b2bac4;
	cursor: pointer;
}
a:hover {
	color: #ffffff;
}
img {
	border: solid 2px #7b8484;
}
table {
	margin-left: auto;
	margin-right: auto;
}
tr td {
	background: #3e4637; /* Задник у прямоугольников с ссылками */
	margin: 10px!important;
	padding: 10px;
	vertical-align: center;
	border-top: solid 1px #292d23;
  	border-bottom: solid 1px #899281;
  	border-left: solid 1px #292d23;
  	border-right: solid 1px #899281;
}
p {
	text-align: left;
	margin: 12px 12px 12px;
	color: #d8ded3;
}
a {
	text-decoration: none;
	color: #aaaaaa;
}
a:hover {
	text-decoration: underline;
}
code {
	background: #3e4637;
	padding: 0 3px;
}
legend {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	color: white;
	font-weight: bold;
}

.copy {
	color: #ffffff;
	text-align: center;
	font-family: Trebuchet MS;
}
.hl {
	/* highlight */
	color: #c4b550; /* BrightControlText */
}
.frm {
	/* form */
	display: inline;
}
.btn {
	/* button */
	background: #4c5844; /* ControlBG */
	border-bottom: solid 1px #292d23; /* BorderDark */
	border-left: solid 1px #889180; /* TitleDimText */
	border-right: solid 1px #292d23; /* BorderDark */
	border-top: solid 1px #889180; /* TitleDimText */
	color: #b2bac4;
	cursor: pointer;
	display: inline;
	font-size: 1em;
}
.btn:hover {
	color: #ffffff;
}